* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin:0;
	padding:0;
}
	 	
body, html {
    height:100%;
	width:100%;
	}
#container {
    height:100%;
}
	 	
#titlebar {
	width:100%;
	background-color:#4C4C4C;
	border-bottom:2px solid #D28F38;
	height:50px;
	color: #D28F38;
	}
#title {
	padding:15px 0 0 40px;
	font-weight:bold;
	float:left;
	}
#menu {
	margin:0 auto;
	width:233px;
	padding:10px;
	}

#menu ul {
	border:2px solid #D28F38;
	border-radius:5px;
	height:30px;
	}
#menu li {
	float:left;
	list-style:none;
	border-right:2px solid #D28F38;
	height:20px;
	padding:5px 10px;
	}
#menu li:hover {
	background-color:grey;
	}
.break {
	clear:both;
    }
.codecontainer {
	width:50%;
	float:left;		
	position:relative;
	}

.code {
	width:100%;
	height:100%;
	border-left: 2px solid #D28F38;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
	}
#cssContainer, #jsContainer {
	display:none;
	}
.containerTitle {
	position:absolute;
	right:20px;
	top:10px;
	background-color:#FFF;
	padding:4px;
	border:2px solid #D28F38;
	border-radius:4px;
	color: #D28F38;
	}
.selected {
	background-color:#73CBC4;
    }

#runButton {
	float:right;
	margin:10px 40px 0 0;
	}
#run {
	font-size:140%;
	border-radius:10px;
	padding:0 10px;
	}
#resultFrame {
	width:100%;
	height:100%;
	border:0;
	border-left:2px solid #D28F38;
	}
.resultContainer {
	height:100%;
		 	
	}
textarea {
	border:none;
	resize: none;
	font-family:monotype;
	font-size:100%;
	}